body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #223;
    line-height: 1.666;
    font-size: 14px
}

#root {
    display: flex;
    justify-content: center
}

.content {
    margin-top: 40px;
    flex: 0 0 100%;
    max-width: 760px
}

table {
    width: 100%;
    border-collapse: collapse
}

th {
    text-align: left;
    padding: 10px 12px 6px;
    width: 16.6%
}

th:last-child {
    width: 17%
}

thead>tr {
    border-bottom: 1px solid rgba(0,0,0,.2)
}

th {
    user-select: none;
    cursor: pointer
}

td {
    white-space: nowrap;
    padding: 0 12px;
    width: 16.6%
}

td:last-child {
    width: 17%
}

tr:nth-child(2n) {
    background: rgba(0,0,6,.03)
}

tbody>tr:hover {
    background: rgba(0,0,6,.06)
}

@keyframes up {
    0% {
        text-shadow: 0 0 1px green;
        background-color: rgba(0,255,0,.1);
        color: green
    }

    50% {
        text-shadow: 0 0 1px green;
        background-color: rgba(0,255,0,.1);
        color: green
    }

    to {
        text-shadow: none;
        background-color: none;
        color: #223
    }
}

@keyframes down {
    0% {
        text-shadow: 0 0 1px red;
        background-color: rgba(255,0,0,.1);
        color: red
    }

    50% {
        text-shadow: 0 0 1px red;
        background-color: rgba(255,0,0,.1);
        color: red
    }

    to {
        text-shadow: none;
        background-color: none;
        color: #223
    }
}

td.up {
    animation-name: up
}

td.down,td.up {
    animation-duration: .1s
}

td.down {
    animation-name: down
}

td:nth-child(0),th:nth-child(0) {
    width: 20px
}
